<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia.css" rel="stylesheet"
        type="text/css">
    <link href="https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia-italic.css" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div id="vid-cont">
        <video preload muted loop id="JumpinTaimi">
            <source src="./JumpinTaimiV2.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <!-- <div class="content">
        <h1>Taimi</h1>
        <p>Taimi does her part to jump for science</p>
        <a href="https://tinyarmy.org" class="joinBtn" target="_blank">Join TINY</a>
    </div> -->

    <div id="taimiDialog" hidden>
        <div id="dialogText">Test Message</div>
        <div id="dialogName">Taimi</div>
        <div id="dialogClose">&nbsp;</div>
        <div id="dialogReply">I dont know about that Taimi</div>
    </div>

    <div id="talkBtn">
        Talk [F]
    </div>

    <div id="stats">
        <div class="characterName">Tiny Taimi</div>
        <div class="localJumps">Local Jumps: <span class="localJumpsText">0</span></div>
        <div class="globalJumps">Global Jumps: <span class="globalJumpsText">0</span></div>
        <div class="currentJumpers">Total Jumpers: <span class="totalJumpersText">0</span></div>
        <div class="joinTINY">
            <a href="https://tinyarmy.org" target="_blank">Join TINY</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.3/mousetrap.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>